[Desktop Entry]
Version=1.0
Type=Link
Name=TIPE maths 99 compression par ondelettes
Comment=
Icon=gnome-fs-bookmark
URL=http://rpauchet.chez.com/lapageTIPE/TIPEixl/TIPEondelettes/TIPEhtml/Tipe%20maths%2099%20compression%20par%20ondelettes.html
